local OrionLib = loadstring(game:HttpGet(('https://raw.githubusercontent.com/shlexware/Orion/main/source')))()

local Window = OrionLib:MakeWindow({Name = "❓ LUCKY BLOCKS Battlegrounds", HidePremium = false, IntroEnabled = false, IntroText = false,SaveConfig = true, ConfigFolder = "OrionTest"})

OrionLib:MakeNotification({
	Name = "Thanks",
	Content = "Thanks for using!",
	Image = "rbxassetid://4483345998",
	Time = 5
})

local Tab = Window:MakeTab({
	Name = "Spawn",
	Icon = "rbxassetid://2795572803",
	PremiumOnly = false
})

Tab:AddButton({
	Name = "Lucky",
	Callback = function()
game:GetService("ReplicatedStorage").SpawnLuckyBlock:FireServer()

  	end    
})

Tab:AddButton({
	Name = "Diamond",
	Callback = function()
      game:GetService("ReplicatedStorage").SpawnDiamondBlock:FireServer()  
  	end    
})

Tab:AddButton({
	Name = "Galaxy",
	Callback = function()
game:GetService("ReplicatedStorage").SpawnGalaxyBlock:FireServer()
  	end    
})

Tab:AddButton({
	Name = "Rainbow",
	Callback = function()
game:GetService("ReplicatedStorage").SpawnRainbowBlock:FireServer()
  	end    
})
OrionLib:Init()
